@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Bienvenido</h1>
        <p>Prueba de Oigame Consultores .Net Core 2.2.0</p>
        <address>
            Ing. Antonio D Restrepo C.<br />
            C.C.: 1.126.905.946<br />
            Telef.: 301.309.0364<br />
        </address>

        <address>
            <strong>Contacto:</strong> <a href="jheanpiertony@gmail.com">jheanpiertony@gmail.com</a>
        </address>
    </div>